@page "/"

<PageTitle>Lions Demo</PageTitle>

<h1>Lions Demo Project</h1>

<strong>Use "CTRL + SHFIT + F" to find all instances of "OBJECTIVE" while in the project to figure out your objectives.</strong>

<div>Helpful Links:</div>
<a href="https://visualstudio.microsoft.com/vs/" target="_blank">Install Visual Studio 2022 (Community Edition)</a> 
<br />
<a href="https://dotnet.microsoft.com/en-us/learn/aspnet/blazor-tutorial/install" target="_blank">Visual Studio 2022 installation instructions</a>
<br />
<a href="https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/tutorials/" target="_blank">C# Basics</a>
<br />
<a href="https://learn-blazor.com/index.htm" target="_blank">Learn about Blazor</a>
<br />
<a href="https://blazorise.com/docs/components" target="_blank">Blazorise Components You Could Use</a>
<br />
<a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/" target="_blank">Bootstrap Documentation</a>